<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Friendsurance Automation Suite" parallel="false" verbose="1">
	<test name="Friendsurance Test Challenge" group-by-instances="true" preserve-order="true" enabled="true">
		
		
		<classes>
		  	<class name="Friendsurance.TestChallenge.AppTest"/>
		  	
		  	
		</classes>
		
	</test>

</suite>